<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>
    <script>
      alert("Your credit card information has been saved. Thank you!");
      window.location.href = "/";
    </script>
  </head>
  <body></body>
</html>

